[2017-07-14 00:03] WalterArguello commented on #626
Hello minhyk:

Thanks for your reply.
The check box is enabled by default for all databases. (I do not know why).
What I want is to turn it off. But when I try, the mouse pointer changes its appearance and change is not allowed.

![imagen](https://user-images.githubusercontent.com/29202136/28192630-fd2844f2-67fc-11e7-99c8-044f89497906.png)

![imagen](https://user-images.githubusercontent.com/29202

[2017-07-14 09:06] yelizariev commented on #627
Currently, user can sing in only via "Sign in via SaaS Portal" link. Signing in to saas client via password is not completed

[2017-07-15 04:13] minhyk commented on #627
@yelizariev May I suggest that we quickly do it by calling reset password function under '_prepare_database' function. I have done something like below
`@api.one
    def _prepare_database(self, client_env, owner_user=None, is_template_db=False, addons=[], access_token=None, tz=None, server_requests_scheme='http'):
        client_id = self.client_id

        # update saas_server.client state

[2017-07-18 05:03] ovnicraft opened #628 "[10.0] server and client DBs dont load CSS when login"
I am configuring v10.0, create server and portal DBs ok, so  trying to Create Template DB has the issue:

Odoo response assets ok for new dbs, log in into server|portal DBs cant read assets.
I dont know if this happens because sed command ejecuted on base.xml didnt change anythin

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47352

[2017-07-18 13:33] ovnicraft commented on #628
It solve it, re createing DBs from domain.

[2017-07-18 13:33] #628 closed

[2017-07-19 02:26] ovnicraft opened #630 "[10.0] Linode DNS Integration"
I am working with linode as my VPS provider, so i want to know where to start to integrate and register subdomain.
I followed all steps and works fine, so i want to identify what to extend to execute my integration.
Action from `Create client` button from Plan could be a good point ?

[2017-07-19 03:44] ovnicraft commented on #630
Surfing in code, i found this: https://github.com/it-projects-llc/odoo-saas-tools/blob/10.0/saas_sysadmin_aws_route53/models/saas_sysadmin_aws_route53.py

Consider a refactor to allow us implement new services for zones sounds good.
I continue reading about it and gives feedback.

[2017-07-19 06:08] oanhle commented on #479
Hi all, I'm also get the same error. But I fixed it. please run command pip uninstall Werkzeug
Because the packages block this requests.

[2017-07-19 14:51] ovnicraft commented on #479
Please check this: https://it-projects-llc.github.io/odoo-saas-tools/blog/reason-not-found

[2017-07-27 15:54] #490 closed

[2017-07-31 14:36] raul87011523 opened #633 "SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590)"
Hello, I have the following problem.
I configured the saas without problems with http. But when I try to configure it with ssl, I get the following error:
Traceback (most recent call last):
  File "/home/mandy/Development/odoo10/odoo-server/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/mandy/Development/odoo10/odoo-serv

[2017-08-08 20:51] heshammostafa07 opened #634 "SaaS Server Sync Error"
Hello
After installing odoo SaaS tools for odoo version 8.0 I tried to sync server via saas portal as per attached screens
I got the below error

Warning: Reason: INTERNAL SERVER ERROR
 Message: ('ValueError', 'Expected singleton: saas_server.client()')

![image](https://user-images.githubusercontent.com/12446144/29093865-9eae87b2-7c8b-11e7-9dda-45b10ef9afd4.png)

![image](https://user-images.gith

[2017-08-10 15:04] clxadmin opened #635 "expand max allowed users"
Hi
I try to expand max allowed users from 2 to 4. After setting to Limit Number of Records:
Model: res.users
Maximum Records: 4

Im facing this error: {"mydatabase.com": {"owner_id": "Owner's user is not found"}}

after that I try to execute again....allways getting this error
the max allowed user is still on 2

Can anyone help please?

<bountysource-plugin>

---
Want to back this issue? **[Post a

[2017-08-11 09:48] clxadmin commented on #635
Hello, I try to do the same on the runbot -- and this produces also a error message like you see below. How to expand allowed users for a client ?? Can anyone help please?

runbot: http://07194-10-0-1d8a16--base---portal.runbot.it-projects.info

Odoo Server Error
Traceback (most recent call last):
  File "/mnt/odoo-extra/runbot/static/build/07194-10-0-1d8a16/odoo/http.py", line 640, in _handle_exc

[2017-08-11 14:56] clxadmin commented on #635
I have got the workaround from it-projects:

As an alternative way, you can change max allowed user from client DB directly:
1. Login to client DB
2. Activate the developer mode
3. Go to Settings >> Technical >> Parameters >> System Parameters
4. Open saas_client.max_users item and set Value as 4
5. Save changes
6. Go to SaaS Portal >> Client DB form and click on Sync Client to see the changes

[2017-08-11 14:56] #635 closed

[2017-08-18 14:21] butagreeza commented on #479
Am trying to create a TemplateDB but am having this error.
Traceback (most recent call last):
  File "/var/repo/mautinoa/odoo/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/var/repo/mautinoa/odoo/odoo/http.py", line 675, in dispatch
    result = self._call_function(**self.params)
  File "/var/repo/mautinoa/odoo/odoo/http.py",

[2017-08-18 15:58] butagreeza opened #636 "Error Creating TemplateDB from Plan"
Am trying to create a TemplateDB but am having this error.

Traceback (most recent call last):
File "/var/repo/mautinoa/odoo/odoo/http.py", line 638, in _handle_exception
return super(JsonRequest, self)._handle_exception(exception)
File "/var/repo/mautinoa/odoo/odoo/http.py", line 675, in dispatch
result = self._call_function(**self.params)
File "/var/repo/mautinoa/odoo/odoo/http.py", line 331, in

[2017-08-19 10:17] minhyk commented on #636
It seems the simplejson is not up to date. Try to upgrade it then try again.

[2017-08-19 10:19] #598 closed

[2017-08-25 17:50] mah007 commented on #322
Traceback (most recent call last):
  File "/home/mahmoud/odoo/10c/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/mahmoud/odoo/10c/odoo/http.py", line 675, in dispatch
    result = self._call_function(**self.params)
  File "/home/mahmoud/odoo/10c/odoo/http.py", line 331, in _call_function
    return checked_call(self.db,

[2017-08-25 17:50] mah007 commented on #322
what is that ????
Warning: Reason: INTERNAL SERVER ERROR
Message: Expected singleton: saas_server.client()

[2017-08-29 22:31] robertallanroker opened #637 "Login Client DB / From Portal"
I have most items working.  Except new clients login, goes through /oauth2/auth  --> redirection to force login, but ends up on blank page client.odoo.com/web.   I tried adding client.odoo.com/web/login by modifying browser url directly.  I get the login screen but don't have the correct login information.  Effectively locked out.

[2017-08-31 13:46] mah007 commented on #634
and no one will answer you here
this problem is useless any where and it happened because no client is in it i think

[2017-08-31 13:47] mah007 commented on #408
remove website from that line is not even change the message

[2017-09-01 19:19] JETSHUB commented on #479
I got this error
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/SME cloud/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/SME cloud/http.py", line 675, in dispatch
    result = self._call_function(**self.params)
  File "/usr/lib/python2.7/dist-packages/SME cloud/http.py",

[2017-09-02 04:14] W360S commented on #479
Warning: Error on request: https://clients.xxxx.xxx:443/saas_server/new_database
Reason: INTERNAL SERVER ERROR
Message: "External ID not found in the system: website.assets_frontend" while parsing None:5, near
check this.

[2017-09-09 08:54] captainjapeng commented on #547
Any luck solving this?

[2017-09-09 09:12] captainjapeng commented on #547
I've installed all the dependencies listed in `['saas_portal_start', 'saas_portal', 'saas_portal_sale_online'` manually one by one and shows up missing dependencies. Have a great day!

[2017-09-09 10:21] captainjapeng opened #638 "Deep Base SaaS domain support"
My base domain is `xxx.yyy.com` and when logging in to a plan, I'm redirected to `template.yyy.com` instead of `template.xxx.yyy.com`.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49150996-deep-base-saas-domain-support?utm_campaign=plugin&utm_content=tracker%2F3643037&utm_medium=issues&utm_source=github)** We accept bounties via

[2017-09-14 11:39] W360S opened #639 "error when install saas"
hello i found new error
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 677, in dispatch
    result = self._call_function(**self.params)
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 33

[2017-09-21 11:36] yelizariev commented on #638
@iledarn Can you answer how to manage such cases?

[2017-09-26 13:40] BigWizzo opened #653 "automatic install using saas.py"
How do I use the saas.py for automatic install. I tried looking through the docs and I found nothing. please help.

[2017-09-27 07:56] dawnblack2 opened #654 "Error with SaaS Portal - templates"
I have installed SaaS Portal - templates module. and run on your docker
When i run my link with http://portal.portal-saas.bc/saas_portal_templates/select-template
The error 500: Internal Server Error
with content
Error
Error message:

'website' object has no attribute 'render'
Traceback
Traceback (most recent call last):
  File "/mnt/odoo-source/addons/website/models/ir_http.py", line 273, in _han

[2017-10-02 09:18] MartinHeisig opened #655 "Error while confirming a payment"
While using latest Odoo 10 and odoo-saas-tools I am not able to confirm incoming payments. The error in form of an infinite loop seems only to occur while using "saas_portal_sale"/"saas_portal_sale_online" AND the "purchase" module. Both alone work without any error.

As solution for the first occuring loop it helps to fix the typo in /saas_portal_sale/models/account_invoice.py line 40 where "comp

[2017-10-02 11:50] casper34a commented on #552
I have the same problem

[2017-10-05 02:09] W360S opened #658 "Odoo 11 come out :)"
Odoo 11 come out :) interested for saas :)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/50138571-odoo-11-come-out?utm_campaign=plugin&utm_content=tracker%2F3643037&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F3643037&utm_medium

[2017-10-09 19:57] necrodevz commented on #658
Me too!!!

[2017-10-09 20:42] augustosamame commented on #658
I have installed a couple of v10 modules in v11 and they installed and worked properly with no modifications. Have you tried just installing the v10 SaaS modules in v11 to check if they work, and if they fail, which errors are shown?

[2017-10-11 00:42] W360S commented on #658
tell me what are they @augustosamame ? I know that 11 work python 3.0 and currently 10 work with 2.7 maybe some of the module will work :) we need to try :) especially Sales & CRM I like these feature :)

[2017-10-12 01:47] juano2h opened #660 "can not find the dashboard client (saas_client.saas_dashboard)"
can not find the dashboard client (saas_client.saas_dashboard) to display resources (memory, cant user... ) used for clients. Where can i see this information in odoo v8?

[2017-10-15 09:53] Crux-un commented on #14
does the odoo saas tools run on enterprise version of 10

[2017-10-16 03:15] W360S commented on #14
ofcause no @Crux-un

[2017-10-16 06:53] Crux-un commented on #14
@W360S Is there a tutorial how to install saas with community, i get lots of errors and modules not found.. i downloaded the version on GitHub

[2017-10-16 07:24] W360S commented on #14
@Crux-un you need to check carefully, learn one by one, step by step, saas is a good system but you cant be expert when the first time you meet :) same me from beginning.at the end if you can't setup ping me I can help.

[2017-10-17 15:58] casper34a commented on #322
I think you may have to create first a client before sync. Because it seems to be expecting a client.

[2017-10-23 08:12] yelizariev opened #666 "Issue with interesting number"

[2017-10-23 20:33] vkhalil commented on #249
Hi bassn,

Did you manage to migrate an old databse to odoo-saas ?

Thanks.

[2017-10-27 06:29] Udramani commented on #40
Hello,
I am having problem while i sync the server and this type of error message is displayed.
![screenshot from 2017-10-27 11-56-19](https://user-images.githubusercontent.com/33111998/32090652-02880938-bae0-11e7-9c18-f39693804a4b.png)

![screenshot from 2017-10-27 11-56-45](https://user-images.githubusercontent.com/33111998/32090663-0c362ec4-bae0-11e7-93bc-888fa9f8982a.png)

can you help me to f

[2017-10-27 06:36] Udramani opened #668 "Sync Server Issue"
Hello,
I am having problem while i sync the server and this type of error message is displayed.
![screenshot from 2017-10-27 11-56-19](https://user-images.githubusercontent.com/33111998/32090652-02880938-bae0-11e7-9c18-f39693804a4b.png)

![screenshot from 2017-10-27 11-56-45](https://user-images.githubusercontent.com/33111998/32090663-0c362ec4-bae0-11e7-93bc-888fa9f8982a.png)

i am using nginx ser

[2017-11-01 06:29] Aravinthu commented on #655
hi found any solution? i'm getting the same error.

[2017-11-05 23:18] hoangtuan151 opened #670 "bash_profile permission denied error"
Hi team,

Thanks for your works so much!

I've followed the guide from this link: "http://it-projects-llc.github.io/odoo-saas-tools/getting-started/" and got the "/root/.bash_profile: Permission denied" error at last step.

Pls help me. Thanks you!

Here's the details:

~$ INIT_SAAS_TOOLS_VALUE=' \

SYSTEM=supervisor
PLATFORM=unknown
OS_RELEASE=jessie
**-su: /root/.bash_profile: Permission denied*

[2017-11-13 15:53] skooperss opened #672 "installation issue"
i see your documentation and it was saying if i am using localhost.i want to deploy it on digital ocean droplet. I am confused that same localhost configurations should be used for /etc/hosts?
Need help.

[2017-11-14 17:59] #672 closed

[2017-11-15 10:35] skooperss opened #674 "Do i need to create subdomain for all databases."
I have setup by following documentation.
I have one query. I am working on digital ocean droplet

Do i need to create subdomain for every database. i have created.
when i open the database which has subdomain in my dns it works but if i open the database which has not in my dns records. it then not open.
![screenshot from 2017-11-15 15-33-46](https://user-images.githubusercontent.com/18639556/3283

[2017-11-15 12:25] sachinbanugariya opened #675 "redirect issue while click on login link of template"
hello,
we installed odoo-saas for version 10.
we setup using saas.py,

according to odoo-saas document:
https://odoo-saas-tools.readthedocs.io/en/10.0/setup/install.html

we completed till 6 step,
but when we try to login for template pop-up window link (step 7 click log in link),
tamplate_name = test
it will redirect odoo.local
to server.odoo.local
then again it will redirect to test.odoo.local a

[2017-11-16 18:28] #674 closed

[2017-11-17 00:12] hoangtuan151 opened #677 "Docker Saas - Sync Server Errors"
Hi,

Saas tools is a great work. But I'm experiencing errors when sync server.
Pls help me to figure it out. Thanks in advanced!
Let me describle:

**1. Here's my script to intsall** (follow guide from [odoo-saas-tools getting-started](https://it-projects-llc.github.io/odoo-saas-tools/getting-started/)): [my_script](https://gist.github.com/hoangtuan151/b012f478d04567fa9689c711326ac1a3)

**2. Error

[2017-11-18 12:03] leao-c opened #678 "Sign up and Checkout not redirecting to billing page after user signup [v9]"
Hi,

I was able to setup Odoo SaaS on Ubuntu server and everything worked fine until we started testing payment acquirer.

When a new users clicks the 'Signup and Checkout' button, enters their email, password and DB details, and then select 'Sign Up' button, they are instantly redirected to the newly created database instead of 'Billing' page.

![error_signup](https://user-images.githubuserconten

[2017-11-18 12:08] leao-c commented on #677
Change "Request port" from 80 to 8069 or any other port your Odoo SaaS_Server is running on.

[2017-11-19 06:37] hoangtuan151 commented on #677
Hi Leao-c,
Change Request Port to 8069 cause "open server"  redirect browser to port 8069 (for ex http://server-1.example.com:8069). But my Nginx is listened at port 80.

[2017-11-19 06:44] hoangtuan151 opened #679 "Setup odoo 11 saas on docker"
Hi,
I've carefully followed this guide https://it-projects-llc.github.io/odoo-saas-tools/getting-started/ to setup odoo 11 saas docker (by replacing image install odoo 10.0 to 11.0).
But It seem that the embedded script to install docker  saas tool inside the docker image does not work, did any one try this?

[2017-11-23 19:40] vkhalil opened #686 "Python error when installing odoo10"
File "/mnt/addons/it-projects-llc/odoo-saas-tools/saas.py", line 319, in rpc_init_portal
    if not arg.get('dynamic_base_domain'):
NameError: global name 'arg' is not defined

There is a typo in saas.py line 319 arg instead of args

[2017-11-24 07:09] suv-appzbiz commented on #623
I am also facing the same error. Did you get any solution for this?

[2017-11-24 09:18] yelizariev commented on #686
Fixed by @vkhalil in https://github.com/it-projects-llc/odoo-saas-tools/pull/688

[2017-11-24 09:18] #686 closed

[2017-11-30 11:42] #670 closed

[2017-12-05 18:27] g3492 opened #705 "Installation of saas_portal_async module, disables mailgun functionality"
After installation of saas_portal_async module, there is no more mailgun functionality. Tested with odoo version 8.0.

I am not a developer, but I think there is some conflict/problem with create_new_database functions which are referenced in saas_sysadmin_mailgun, saas_portal_async and saas_portal modules.
Congratulation for the great work.

[2017-12-07 20:39] gsusrafael opened #706 "Error on automated install with saas.py"
I've been checking the automated install process and looking at the output, but i found this weird error:

[code]

[2017-12-15 10:59] #401 closed

[2017-12-17 17:03] didier1969 opened #711 "V11 - unexpected keyword argument 'groups'"
Hello,
I followed these instructions `https://odoo-saas-tools.readthedocs.io/en/latest/setup/install.html` as close as possible for Odoo 11 CE.

I am getting the error below at point 4 - Configure Main Database: * open Settings/SaaS Portal Settings, set Base SaaS domain, e.g. odoo.local, click Apply (do it even if you didn't make changes).

I wonder if this happens because V11 is still work in pro

[2017-12-19 16:43] gridworkz commented on #711
Hi:
Did you ever get this resolved? I'd like to hep here if possible.
Cheers, Dave

[2017-12-19 18:08] didier1969 commented on #711
Hello Dave,
No, I did not solve it yet and I switched to Odoo-Saas-Tool for Odoo V10 for now. This version 10 is working great so far. At your disposal if you need any additional information on V11.

[2017-12-19 18:33] mpdevilleres commented on #711
You can easily fix this by removing the groups parameter.
this is due to the update in the base ir_config in v11.
Here's my ir_config_parameter.py.

    from odoo import models, api

    BASE_SAAS_DOMAIN = 'saas_portal.base_saas_domain'

    class IrConfigParameter(models.Model):
        _inherit = 'ir.config_parameter'

        @api.model
        def set_param(self, key, value):
            if ke

[2017-12-19 21:19] didier1969 commented on #711
I updated the ir_config_parameter.py file from saas_portal module as per your instructions, and after deleting the databases and recreating them, I was able to have odoo.local talk to s1.odoo.local.
I am now experiencing another error message, i.e. in odoo.local, under Plans, when I click "Log in to Template DB". I also get the same error message when trying to create a new Client DB.

Many thanks

[2017-12-19 21:48] gridworkz commented on #711
Hi Didier:
Just a shot in the dark, the variable 'base_saas_domain' is false at this point of the code. I don't know why I'll keep poking around. Cheers, Dave

[2017-12-22 18:56] gridworkz commented on #711
Hi Guys:
Is anyone up for making Saas tools work for Odoo 11? I've got some money and lot's of time to help make it happen.
Cheers, Dave

[2017-12-26 14:56] yelizariev commented on #711
@gridworkz and others,
you can use services like https://www.bountysource.com/ and https://gitcoin.co/ to sponsor updates.

[2017-12-28 17:08] xuanox commented on #666
LOL

[2018-01-01 06:19] dipenpatel235 opened #714 "odoo not working after remove debug=assetes from URL"
Hello..
i have odoo10 with saas.

but when i deactivated debug mode then url seen blank as per below screen shot.

![odoo](https://user-images.githubusercontent.com/8135097/34465929-5c02c0ec-eee9-11e7-825b-85d625490f50.png)

Thanks

[2018-01-01 20:44] gridworkz commented on #711
Hi:
Would it be easier if I just shoot you guys some cash to do it? Since you know the internals the best...
Cheers,
Dave

[2018-01-03 06:37] saitejaganapavarapu opened #715 "Saas automated script saas.py setup issue"
Hello all, I am using https://github.com/it-projects-llc/odoo-saas-tools to setup a saas for my odoo instance, I am using the saas.py automated script to setup saas, I was struck at this issue, could someone take a look and help me out, thanks in advacne

saas.py >>> RPC Execute, ir.module.module, button_immediate_install, [[358, 185, 65]], {}
2018-01-03 06:28:29,160 17029 INFO saas-portal-10.loca

[2018-01-04 18:28] xuanox commented on #715
What version are you working on? v10?

[2018-01-04 18:29] xuanox commented on #706
What version are you working on? v10?

[2018-01-04 18:30] gsusrafael commented on #706
sure, v10 @xuanox

[2018-01-04 19:33] saitejaganapavarapu commented on #715
Hello xuanox, thanks for your reply, I am using v10

[2018-01-10 16:18] ilmir-k commented on #711
Hi @gridworkz

Also you can use our paypal account paypal@it-projects.info if it is more convenient payment method for you. Thanks

[2018-01-10 17:13] gridworkz commented on #711
Hi Guys:

I've got Saas Odo Toos running on v11. I think what we can do is I can give
you what I have and you can officially bless it and do the necessary things
to make it part of your repos (I didn't have enough time to learn the
process of contributing). I just cloned it and changed the appropriate
modules to make it work. (a base set of modules to make it work - I didn't
modify them all, some

[2018-01-10 17:15] gridworkz commented on #711
Sorry, cat on my keyboard .... 'Saas Odoo Tools'....you probably already
guessed that :-)

On Wed, Jan 10, 2018 at 12:13 PM, Dave Cook <dave@gridworkz.com> wrote:

[2018-01-10 17:57] ilmir-k commented on #711
@gridworkz Thanks for your efforts, we will check it

cc @iledarn

[2018-01-10 18:18] gridworkz commented on #711
Hi Guys:

Cool, thanks. One other thing I forgot to mention if it's relevant. I did a
git clone of the main Odoo v11 branch 3 days ago and saas_server worked out
of the box....

Cheers,
Dave

On Wed, Jan 10, 2018 at 12:57 PM, ILMIR <notifications@github.com> wrote:

[2018-01-19 09:42] Udramani opened #734 "Sync Server 500 INTERNAL SERVER ERROR"
While i sync the server the following error is being generated..

![sync button](https://user-images.githubusercontent.com/33111998/35144633-11ea9a7a-fd2b-11e7-9b55-8ccfdf88484d.png)

![sync11](https://user-images.githubusercontent.com/33111998/35144642-1568e972-fd2b-11e7-8f24-d2a59348d15e.png)

Can anyone help me?

[2018-01-20 02:51] W360S commented on #734
Ping me private. i can help

[2018-01-20 03:14] Udramani commented on #734
Hello,
First of all thank you for answering. But I had found the the solution from
myself and the reason that I was got that error was the number of clients
that request the database was cross the limit so I just increase that limit
and just restart the postgres and sync server works.

On 20-Jan-2018 8:22 AM, "W360S CORP" <notifications@github.com> wrote:

[2018-01-24 14:14] dicaprio007 opened #735 "Instructions for automatic installataion"
Hello,

Please can  you help me for Instructions of automatic installataion with  saas.py script ?

Kinds regards

[2018-01-26 08:48] W360S opened #736 "AssertionError: Element openerp has extra content: data, line 3"
Hi, im trying to test with v11 and get that error anyone has same?
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 646, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 307, in _handle_exception
    raise pycompat.reraise(type(excep

[2018-01-26 23:47] gridworkz commented on #736
Hi:
Yes, I got this error as well. I fixed it but I need to dig into which file it was. Which module is giving you this message?
Cheers,
Dave

[2018-01-27 04:33] gridworkz commented on #736
I was getting it when install saas_portal_start module. Edit line 18 of

..addons/saas_portal_start/views/website.xml => and remove page="True"

Mine looks like this:

<template id="website.start" name="Create new database" priority="29">

Dave

[2018-01-27 05:24] gridworkz commented on #736
It's also in ..addons/saas_portal_templates/views/website.xml

[2018-01-27 07:07] W360S commented on #736
thank will try

[2018-01-27 07:17] W360S commented on #736
yeap it work, totally forgot that page no longer require in v11 :)

[2018-01-27 07:22] W360S commented on #736
fixed #738 #737

[2018-01-27 07:22] #736 closed

[2018-01-27 07:31] W360S commented on #711
Hi @gridworkz have you found solution for SaaS Portal Portal it require Website Portal but only available for v10

[2018-01-27 15:20] gridworkz commented on #711
Hi:

Yes, web_portal is now just portal in v11. It's pretty much a port of
web_portal. I find most things just work if you rename web_portal to portal
where it's referenced in the code. Some places you may need to fiddle a bit
to get it to work. I know that's not the official way of doing things but
it works for me while I'm shooting bugs.

Cheers,
Dave

On Sat, Jan 27, 2018 at 2:31 AM, World 360°

[2018-01-27 16:35] gridworkz commented on #736
Great! You'll hit another bug/change in module: website_sale_stock_status

CRON declarations have changed in v11.

Edit ../addons/website_sale_stock_status/website_sale_stock_status_data.xml

This is the new Cron setup:

    <data noupdate="1">
        <record id="ir_cron_update_ribbons" model="ir.cron">
            <field name="name">Update product stock status</field>
            <field name="mo

[2018-01-27 18:49] gridworkz commented on #736
I think the only other changes I made were the following in:
../addons/saas_portal_demo module (a few changes)

1) views/templates.xml

  => <xpath expr="//div[@class='row']*[2]*" position="after">  to  <xpath
expr="//div[@class='row']" position="after">

2) views/saas_portal_demo_templates.xml

  => <xpath expr="//*ul*[contains(@class,'o_portal_submenu')]"
position="inside">  to  <xpath
expr="//*

[2018-01-28 08:04] W360S commented on #736
Hi @gridworkz
I have checked and fixed some of them :) that work for me now but still get an error from the log
2018-01-28 08:01:03,895 2404 ERROR ? odoo.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 646, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/li

[2018-01-28 15:33] gridworkz commented on #736
Hi:

hmmm, I haven't seen that one. I'm running on Ubuntu 16.04 and python
3.5.2.  Does this happen when you restart Odoo?

Cheers,
Dave

On Sun, Jan 28, 2018 at 3:04 AM, World 360° Services <
notifications@github.com> wrote:

[2018-01-28 15:49] gridworkz commented on #736
Hi:

I found something similar here:
https://www.odoo.com/forum/help-1/question/error-notfound-404-not-found-73702

I'm sure you've tried clearing the cache and all that. Looks like a routing
issue with locating the dbs.

Cheers,
Dave

On Sun, Jan 28, 2018 at 3:04 AM, World 360° Services <
notifications@github.com> wrote:

[2018-02-02 18:04] LiberTang0 opened #741 "BUG Apple SAFARI"
When i try to connect with "Log in via SaaS" it redirect me to the homepage of the odoo  website but not the odoo backend.

It appears only with safari.
I'm using odoo 8.

[2018-02-04 12:03] spectra10008 opened #742 "odoo problem"
when i try to run odoo in linux ubuntu
Traceback (most recent call last):
File "./odoo-bin", line 5, in
import('pkg_resources').declare_namespace('odoo.addons')
ImportError: No module named pkg_resources

how can i solve it?

[2018-02-07 10:36] W360S commented on #742
try that: sudo apt-get install --reinstall python-pkg-resources
if it help or
pip install --upgrade setuptools
pip install --upgrade distribute
hope that help

[2018-02-07 11:47] #742 closed

[2018-02-07 11:51] yelizariev commented on #734
Consider making a PR with update that fixes this problem

[2018-02-07 11:53] yelizariev commented on #714
Is it Odoo 11.0?

[2018-02-07 12:15] dipenpatel235 commented on #714
No..It is odoo 10

On Feb 7, 2018 5:23 PM, "Ivan Yelizariev" <notifications@github.com> wrote:

[2018-02-09 01:27] gridworkz commented on #711
Latest batch of files have been uploaded:
https://drive.google.com/drive/folders/1GwBnU3ZrO7_r4QZombQhSIKjKi_yIwGd?usp=sharing

[2018-02-22 09:35] keecome opened #744 "When install saas.py, get an error problem:AttributeError: 'NoneType' object has no attribute 'endswith'"
version: odoo 10.0
server:ubuntu 16.04 server
webservice: NGINX
InstallScript: Yenthe666/InstallScript

odoo is Run normal.

root@Kvmla:/data/odoo/custom/it-projects-llc/odoo-saas-tools# python saas.py --portal-create --server-create --plan-create --run --odoo-script=/data/odoo/odoo-server/odoo-bin --odoo-config=/etc/odoo-server.conf

.....

2018-02-21 19:56:18
saas.py >>> RPC Execute, saas_portal

[2018-02-23 06:35] keecome commented on #744
I have solved it!

[2018-02-23 06:35] #744 closed

[2018-03-02 15:11] njeudy commented on #711
@didier1969 this error is corrected in #746

I will try to clean code and adapt correctly to V11 .. (I use it already in V11)

[2018-03-02 15:18] njeudy commented on #677
@hoangtuan151 hello, 2- is fixed in #746 will investigate 3- one :)

[2018-03-02 15:47] gridworkz commented on #711
Hi Nicolas:

That's great, much appreciated. Yes it seems OK on v11 at my end as well. I
should have done it through pull requests but it was a bit of a rush
situation at my end at the time.

Cheers
Dave

On Fri, Mar 2, 2018 at 10:11 AM, Nicolas JEUDY <notifications@github.com>
wrote:

[2018-03-03 15:58] njeudy commented on #735
hello,

@dicaprio007 on which version did you try saas.py ?

[2018-03-03 16:01] njeudy commented on #677
@hoangtuan151 you try on V10 or V11 ?

[2018-03-03 16:04] njeudy commented on #658
@W360S 110. branch is available .. some work has to be donne but base is ok.

[2018-03-03 16:06] njeudy commented on #654
@dawnblack2 hello, I try to do triage on issue

can you give me odoo version you use and if you  always encounter the issue ? thanks

[2018-03-03 16:07] njeudy commented on #653
Hello,

what is the version you want to use ? 10.0 ? 11.0 ?

[2018-03-03 16:08] njeudy commented on #638
@captainjapeng can you post screenshot of your base domain setup ?

Which odoo version you use ?

[2018-03-03 16:09] njeudy commented on #637
@robertallanroker can you post a screenshot of your saas-server and saas-portal configuration ?

I think you mess som oauth setup.

Can you say what is your version, and if you encounter this issue today ?

thanks

[2018-03-03 16:11] njeudy commented on #636
@butagreeza can you say which odoo version you use ?

Did you encounter this issue today or is it solved ?

[2018-03-03 16:13] njeudy commented on #634
@heshammostafa07 did you encounter this issue today ? is it resolved ?

[2018-03-03 17:47] dicaprio007 commented on #735
I want to try it in odoo 10

Thanks you for your help

[2018-03-03 18:15] captainjapeng commented on #638
I've used `itprojectsllc/install-odoo:10.0` image to test it back then. Sorry but I don't have the setup anymore.

[2018-03-04 08:05] njeudy commented on #735
@dicaprio007 as written in saas.py script, you have to execute it like this:

[code]

I don't use saas.py script and use docker to deploy saas as explain here:

https://odoo-saas-tools.readthedocs.io/en/10.0/demo/saas-demo.html

[2018-03-04 08:08] njeudy commented on #741
@LiberTang0 I think you have a probleme with oauth saas setup in your saas-server instance. By default saas is pointing to odoo, you have to change this.

By the way we do not support odoo V8.0 anymore as odoo did and will not investigate more.
Think it is an odoo oauth issue.

Can you test with odoo V10 and saas-tools V10

Thanks for your report.

[2018-03-04 08:08] #741 closed

[2018-03-04 08:11] njeudy commented on #705
hello @g3492

As odoo did we do not support odoo V8 anymore, can you test in V10 version ?
If it is a real production probleme feel free to open an other issue with the error you have after checking it is the case in V10 or V11.

Thanks, for your report.

[2018-03-04 08:11] #705 closed

[2018-03-04 08:13] njeudy commented on #634
hello @heshammostafa07

We do not support odoo v8 anymore. Can you test with V10 ?
feel free to create a new issue if you encounter this bug with V10.

Thanks,

[2018-03-04 08:13] #634 closed

[2018-03-04 08:19] njeudy commented on #633
hello @raul87011523 ,

This is a self signed certificate issue. You certificate authority (you) is not public or verified one. So ssl verification failed.

We have to add an "do not check" option if we want to have this ...
you can use https://letsencrypt.org/ to have free validated ssl certificate, but for local test, I think you have to stay in http.

[2018-03-04 08:20] njeudy commented on #633
@raul87011523 which version do you use ?

[2018-03-04 08:24] njeudy commented on #638
Ok thanks I close this issue, feel free to create new one if you encounter this issue with your tests.

[2018-03-04 08:24] #638 closed

[2018-03-04 08:26] njeudy commented on #627
@minhyk ,

hello can you tell me what version do you use and propose a PR (think we need and option to reset or not)

thanks for your report,

[2018-03-04 08:29] njeudy commented on #626
@minhyk ,

I think you have to manage subscription and add a valid période .. this is considered as trial id no subscription on it (I will setup a test env to be sure ..) .. can you try on you staging instance ?

[2018-03-04 08:33] njeudy commented on #625
@mmbmha you should have odoo database if you go to http://t2.odoo.local .. think you do not have entry in your proxy to point this (like *.odoo.local or so)

This entry should point to saas-server ip where you create plan

[2018-03-04 08:36] njeudy commented on #623
hello @W360S @suv-appzbiz ,

Can you explain exactly "after separate odoo saas client to odoo stand alone system". what did you do.
In traceback there is no mention of saas-tools .. only odoo website ..

can you tell odoo version you use ?

[2018-03-04 08:37] njeudy commented on #622
hello @clxadmin

did you still have this issue ? which version of odoo you use ?

[2018-03-04 08:39] W360S commented on #623
You can try to separate odoo saas tools client to single odoo and try to log in :) it will show you problems. it for long time ago. i think i miss that problem

[2018-03-04 08:43] njeudy commented on #602
@sathwiksunderreddy @ovnicraft

saas installation heavy use domain name and database name. You have to setup a proxy and a dns setup to automate this. In use dnsmasq to redirect *.DomainName to 127.0.0.1

(I am on mac https://passingcuriosity.com/2013/dnsmasq-dev-osx/ but can be easy adapt to linux ;)

I close this issue as it is an dns setup issue not saas-tools ..

Note to your question: the res

[2018-03-04 08:43] #602 closed

[2018-03-04 08:46] njeudy commented on #623
did not understand why separate saas tools client ? on fresh odoo just setup oauth ?

[2018-03-04 08:51] W360S commented on #623
mean separate saas client DB to single odoo
example your client they don't want to use your service they have their own server and ask you to set up for them single odoo.

[2018-03-04 08:52] njeudy commented on #600
@iledarn did you work on this ?

database_record is an id when passing it through xmlrpc .. should do browse I think

[2018-03-04 08:58] W360S commented on #633
im using that one https://certbot.eff.org/ but I think he should understand about SSL
I cannot work with localhost

[2018-03-04 08:59] njeudy commented on #593
You can not have all odoo instance on same port without proxy map.
So you have to keep nginx and open on 10.211.55.8

here is the explain:

10.211.55.8 odoo.local # portal (take 8069 port)
10.211.55.8 s1.odoo.local # server (so 8069 port no available)
10.211.55.8 t1.odoo.local # template (so 8069 port no available)

nginx should be open on 10.211.55.8:80 (or 8069 if you want) and should map all od

[2018-03-04 08:59] #593 closed

[2018-03-04 09:02] njeudy commented on #623
@W360S don't know if a correctly understand your need but if your customer does not want saas service, don't use saas-tools .. export database template (backup) and configure odoo from scratch ?

@yelizariev what do you think ?

[2018-03-04 09:05] W360S commented on #623
that is situation :) of cause when you extract client DB to single odoo it will get whole content in :) if you open from scratch it will be blank DB.
the problem comes when you extract DB to single odoo and it shows error when running single odoo

[2018-03-04 09:07] njeudy commented on #583
@passion342 you can not duplicate existing installation on different domain.

For now it is not on the scope, feel free to propose a PR to do this, but I think it is better to deploy fresh install on new domain (you have to rename all servers, plan, etc ...)

I close this issue as it is not a bug or a problem with saas-tools. Actually new domain = new saas-tools installation / setup :)

thanks for

[2018-03-04 09:07] #583 closed

[2018-03-04 09:08] njeudy commented on #633
@W360S by the way with ssl we can add "do not check certificate" to remove this issue :) but not in the scope now ..

[2018-03-04 09:09] W360S opened #747 "Restore SaaS Clients & Revert Single Odoo to SaaS Tools"
Hello, @njeudy  do you think if we could make a new module to solved SaaS Restored?
I think it can we can dev new module for joining a single client to saas and restore saas from backup :) that will be good thing so far :)

[2018-03-04 09:12] njeudy commented on #623
ok :) so your customer was on your saas service database and now want to be on is own server ?

- You copy / backup database
- You import it on fresh server
- And have probleme to login

Can you post log errors when you import database .. think there is a dependency module problem and some did not load correctly.

[2018-03-04 09:12] W360S commented on #633
Certbot must be checked available domain for mapping https so we have to ways to do like so.
1 , build up self SSL work with local
2, need valid domain to make that happen

[2018-03-04 09:15] W360S commented on #623
I think the problems come when saas does not match with auth. I think I did solve someways like:
go to live saas client. uninstalled everything related to saas, then restore DB to a single one and it works.
something like so. already pass for long :)

[2018-03-04 09:16] njeudy commented on #747
@W360S think we have to explain more the process:

- A customer has an existing odoo database (right ?)
- You want to include it to your saas tools servers infrastructure

[2018-03-04 09:19] njeudy commented on #633
As 2 already works, only 1 case is to manage :)

[2018-03-04 09:19] W360S commented on #747
we have 2 situations.
1, client don't have IT guy or you have some way to get existing single odoo client come to you and you want to join to your saas system.
2, currently saas can backup but cannot be restored back to saas. so need some way to restore client DB back to saas live system

[2018-03-04 09:23] njeudy commented on #623
Ok will close this one and feel free to open new one if probleme stay.

think we have to write clean doc for this spécific case.

[2018-03-04 09:23] #623 closed

[2018-03-04 09:25] W360S commented on #747
Yeap currently we have saas back to s3 is the feature we already did.
![image](https://user-images.githubusercontent.com/8590556/36944137-95eab26e-1fc8-11e8-91a8-cc93234e531c.png)
but restore from saas we do not have a solution yet.

[2018-03-04 09:28] njeudy commented on #566
@Since95 you have to setup your postgresql to accept connection and to have odoo user with correct password.

It is a setup issue, will close it know. feel free to open new one if you encounter this again.

[2018-03-04 09:28] #566 closed

[2018-03-04 09:29] W360S commented on #747
![image](https://user-images.githubusercontent.com/8590556/36944158-f6c66a10-1fc8-11e8-9ed1-cc2d6263ff1a.png)
here is a backup feature. im using this backup to S3 it quite useful

[2018-03-04 09:30] njeudy commented on #747
think the process can be:

- rename existing client database with _before_backup for exemple and restore backup in place of existing one ..

now we need to add this :)

[2018-03-04 09:31] njeudy commented on #747
@W360S backup_s3 is automatic and backup database and filestore ?

[2018-03-04 09:35] njeudy commented on #562
@W360S still have this issue ?

[2018-03-04 09:37] W360S commented on #562
:) migrated all to saas 11 :) like feature on v11 :) on issues in v10 anymore :)

[2018-03-04 09:38] W360S commented on #562
but someone will get same me when they try to update.

[2018-03-04 09:38] njeudy commented on #408
@zimbora69 did you still encounter this issue ?

[2018-03-04 09:39] njeudy commented on #562
Ok I will close for now as I think it is an update issue .. and will wait for new issue for this probleme ..
Upgrade issue can be very difficult to reproduce ..

[2018-03-04 09:39] #562 closed

[2018-03-04 09:50] W360S commented on #747
yeap. you can do backup auto or manual. that good feature. but not available in v11 yet.

[2018-03-04 11:01] njeudy commented on #23
As odoo V8.0 is not supported anymore, close this one

Feel free to reopen it if needed

[2018-03-04 11:01] #23 closed

[2018-03-04 12:32] njeudy commented on #383
Think we can close this issue, In fact upgrade odoo need some extra like openupgrade.

We need to try  to find a solution maybe but for now, you have to manually upgrade your database.

@yelizariev it can be a roadmap or a wishlist somewhere to log this feature request ?

[2018-03-04 12:32] #383 closed

[2018-03-04 12:32] njeudy commented on #347
I close this as it is ok now

[2018-03-04 12:32] #347 closed

[2018-03-04 12:34] njeudy commented on #332
Think is is ok now. close this one too

![image](https://user-images.githubusercontent.com/995787/36945567-c69bcc1c-1fb0-11e8-86a1-607f55278f84.png)

[2018-03-04 12:34] #332 closed

[2018-03-04 12:36] njeudy commented on #358
We didi not encounter this bug anymore think it is resolved.

feel free to open new issue if you encounter this.

[2018-03-04 12:36] #358 closed

[2018-03-04 12:37] njeudy commented on #327
@erkesado is it ok now ?

[2018-03-04 12:39] njeudy commented on #323
As odoo does not support 8.0 anymore think we can close this one.

[2018-03-04 12:39] #323 closed

[2018-03-04 12:40] njeudy commented on #295
As @yelizariev said, not finished now but WIP :)

[2018-03-04 12:40] #295 closed

[2018-03-04 12:42] njeudy commented on #293
it's a postgresql setup issue .. you have to upgrade postgresql conf I think.

feel free to create an other issue if you still have problem with it.

[2018-03-04 12:42] #293 closed

[2018-03-04 14:50] butagreeza commented on #636
@njeudy the issue has been resolved. Thanks.

[2018-03-04 14:50] #636 closed

[2018-03-04 17:06] W360S commented on #409
#747

[2018-03-04 17:07] #439 closed

[2018-03-04 17:07] #434 closed

[2018-03-04 17:08] W360S commented on #639
#726 #730

[2018-03-05 22:08] njeudy opened #748 "link plan_id to product.template not product.product"
Hello,

I'm working on V11 and would clean up code and functional things in  `saas_portal_sale`

I think we need to link `plan_id` to `product.template` and not to `product.product`?

For me:

- Create a product.template linked to plan_id (template of database)
- Create spéciale attribute (variante) with filestore limit, user limit, db limite and setup price that depends of it (more disk space =

[2018-03-06 05:35] W360S commented on #748
I think we cloud do something like this:
client sign up go to plan chose a plan to want to start, additional user, storage just slide to get that for what they want and confirm (done) system auto-generate db for them.
https://system.w360s.com/cart.php
![2018-03-06_12-33-04](https://user-images.githubusercontent.com/8590556/37015562-918eb7d8-213a-11e8-9562-7fc3737a3b58.png)

[2018-03-06 14:23] njeudy commented on #748
@W360S I think to add this:

![](https://odoo-saas-tools.readthedocs.io/en/10.0/_images/6.jpg) that does not actually work on V11

[2018-03-06 14:32] clxadmin commented on #622
I'm using Odoo CE 10. This issue is quite interesting becose it was solved by the ghost - one day it was gone :-)

[2018-03-06 14:32] #622 closed

[2018-03-07 08:51] njeudy commented on #748
WIP in #746

[2018-03-07 15:01] njeudy commented on #658
See #746 to have clean V11.0 branch (WIP)

[2018-03-10 06:01] W360S opened #749 "odoo.exceptions.AccessDenied: Access denied"
Hello @njeudy today i meet  new error it, i dont know where is it come from but like something new come when i try to update something new
Traceback (most recent call last):
  File "/home/odoo-saas-tools/saas_server/controllers/main.py", line 23, in wrap
    return f(*args, **kw)
  File "/home/odoo-saas-tools/saas_server/controllers/main.py", line 189, in delete_database
    client.delete_database

[2018-03-10 07:11] W360S commented on #749
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 647, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 307, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/usr/lib/python3/dist-packages/odoo/tools/pycomp

[2018-03-10 12:39] W360S commented on #749
update error
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 647, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 307, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/usr/lib/python3/dist-packages/odoo

[2018-03-10 12:43] W360S commented on #749
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 647, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 307, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/usr/lib/python3/dist-packages/odoo/tools/pycomp

[2018-03-10 12:45] W360S commented on #749
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 647, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 307, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/usr/lib/python3/dist-packages/odoo/tools/pycomp

[2018-03-10 16:49] njeudy commented on #749
@W360S ok I think you use my current WIP branch ?

I will install from scratch and setup en new saas env to test, thanks for the report (will try to add test for this too)

[2018-03-10 17:13] W360S commented on #749
I need to help to solved this problems.
I think the probem comewhen i try to make new plan and it happen.

[2018-03-10 17:18] W360S commented on #749
Hello @njeudy do you have telegram?
https://t.me/joinchat/EdoTHBCuElRZjrwvbDpAzQ
Plz join this group i may need your instant help

[2018-03-10 23:08] njeudy commented on #749
Ok I reproduce it, will correct

[2018-03-11 06:21] W360S commented on #749
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/requests/packages/urllib3/connection.py", line 142, in _new_conn
    (self.host, self.port), self.timeout, **extra_kw)
  File "/usr/local/lib/python3.6/dist-packages/requests/packages/urllib3/util/connection.py", line 98, in create_connection
    raise err
  File "/usr/local/lib/python3.6/dist-packages/requests/packa

[2018-03-11 08:14] W360S commented on #749
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 647, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 307, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/usr/lib/python3/dist-

[2018-03-11 08:17] W360S commented on #749
File "/home/odoo-saas-tools/saas_server/controllers/main.py", line 21, in wrap
    return f(*args, **kw)
  File "/home/odoo-saas-tools/saas_server/controllers/main.py", line 68, in new_database
    res = client.create_database(template_db, demo, lang)
  File "/home/odoo-saas-tools/saas_server/models/saas_server.py", line 49, in create_database
    db.exp_duplicate_database(template_db, new_db)
  F

[2018-03-11 09:12] W360S commented on #748
@njeudy if we could do like this: https://www.openeducat.org/page/openeducat-enterprise
it really huge innovation :)

[2018-03-11 09:13] W360S commented on #748
![image](https://user-images.githubusercontent.com/8590556/37251678-1e7b01fa-2547-11e8-85ee-4a4509c3abb2.png)

[2018-03-11 12:47] njeudy commented on #749
@W360: connection refused is not from code but network setup i think.

Will try to reproduce duplicate database :)

[2018-03-11 15:36] njeudy commented on #748
@W360S this case is not for me a plan :) A plan is a database template with some data.

here we have a "plan constructor" .. I think we can achieve this by creating a base database (without modules) as plan, and then add options to install apps and/or modules in this plan ..

[2018-03-11 15:39] njeudy commented on #749
@W360S can not have Access denied error, can you help me to reproduce ?

[2018-03-12 08:08] BigWizzo commented on #653
Thanx for replying @njeudy I want to use version 11.0

[2018-03-12 10:29] njeudy commented on #653
Ok I don't know if this script was migrated for now ( @yelizariev is it ? )
I did not use it personaly.

[2018-03-12 10:45] BigWizzo commented on #653
Yes ( @yelizariev ). If you know how to use the version 10.0 please your help will be greatly appreciated @njeudy

[2018-03-13 10:06] njeudy commented on #749
With latest code it is ok.

IMPORTANT: in saas_server you should not disable db_list because it prevent for database creating / renaming

see odoo code:

[code]

[2018-03-13 10:06] njeudy commented on #749
So close :)

[2018-03-13 10:06] #749 closed

[2018-03-13 10:25] W360S commented on #749
Here are steps to solved problems.
if you in single VPS list_db = False must be => list_db = True
if you in separate VPS the clients DB must be enabled  list_db = False must be => list_db = True
normal config url: vim /etc/odoo/odoo.conf

[2018-03-14 14:50] rodriguesraphael commented on #747
When conducting tests I also came across this need, today we have no method to perform this task, correct?

[2018-03-14 16:26] ajaychauhan727 commented on #747
I think for feature of restoration, we also need to consider auth details for server & client relationship.

[2018-03-14 17:23] iledarn commented on #748
**In Prior:**

1. To subscribe customers: we used ``website_sale`` module with ``product.template`` special Period/Number of Users/... attributes, and there was ``plan_id`` in ``product.template`` model.

Bt It is complex to configure with all its SAAS_CODEs and leads to excessive ``product.product`` records - odoo multiplexes variants for each attribute. Say we need one more ``Number of users`` v

[2018-03-15 06:27] dawnblack2 opened #750 "Error when run script to create portal, server, template Saas V 11"
When I run this script
INIT_SAAS_TOOLS_VALUE=' \
--portal-create \
--server-create \
--plan-create \
--odoo-script=/mnt/odoo-source/odoo-bin \
--odoo-config=/mnt/config/odoo-server.conf \
--portal-db-name=portal \
--server-db-name=server-1 \
--server-hosts-template={dbname}.{base_saas_domain_1} \
--plan-template-db-name=template-1 \
--plan-clients=demo-%i \
' && docker exec -u root -t odoo /bin/ba

[2018-03-15 10:50] njeudy commented on #748
@iledarn thank for your comment. I have a question:

- As plan is linked to only one template, one plan = one version of odoo = on set of modules préinstalled so for me it is a product.template directly availaible in odoo ecommerce product and can be bought ...

In you example, with variant or not all case can be managed .. when you create a product template, product.product is directly created ..

[2018-03-15 11:00] njeudy commented on #747
Ok I will work on in after V11 as green CI :) We can discuss here on wich process is better for all

[2018-03-18 19:04] leao-c opened #751 "--db-filter='^%d' (nginx) returns error 404 when creating client's DB"
Hello,

I changed my dbfilter config to --db-filter='^%d'  in order to allow www on my primary domain. How do I configure Saas_portal_signup controller to create Database with just supplied name (subdomain) and NOT subdomain.domain.com?
@W360S could you please help?

Thanks,

[2018-03-20 04:17] W360S commented on #751
"^%h$" for domain "%d$" for the subdomain.

[2018-03-20 04:18] W360S commented on #751
but you can use: "^%h$" for domain  for subdomain. directo www to none www.

[2018-03-20 04:18] W360S commented on #751
https://www.google.com.vn/search?q=nginx+www+to+non+www&rlz=1C5CHFA_enVN763VN763&oq=nginx+www+to+&aqs=chrome.1.69i57j0l5.13503j1j7&sourceid=chrome&ie=UTF-8

[2018-03-21 07:27] leao-c commented on #751
Thanks @W360S , however I have tried using redirection for www to non www in the past but didn't get the kind of result I was expecting.

How do I configure  > "^%h$" for domain and "%d$" for the subdomain at the same time? <

Thank you so much.

[2018-03-21 07:53] W360S commented on #751
Change in odoo config file

From: leao-c <notifications@github.com>
Reply-To: it-projects-llc/odoo-saas-tools <reply@reply.github.com>
Date: Wednesday, March 21, 2018 at 2:27 PM
To: it-projects-llc/odoo-saas-tools <odoo-saas-tools@noreply.github.com>
Cc: World 360° Services <w360s@outlook.com>, Mention <mention@noreply.github.com>
Subject: Re: [it-projects-llc/odoo-saas-tools] --db-filter='^%d' (n

[2018-03-21 08:42] leao-c commented on #751
@W360S, what is the exact directive to put in odoo config file? If I write both "^%h$" and "%d$", odoo simply selects one of them and not the two at the same time.

Thanks.

[2018-03-21 08:43] W360S commented on #751
Use that "^%h$" only

From: leao-c <notifications@github.com>
Reply-To: it-projects-llc/odoo-saas-tools <reply@reply.github.com>
Date: Wednesday, March 21, 2018 at 3:42 PM
To: it-projects-llc/odoo-saas-tools <odoo-saas-tools@noreply.github.com>
Cc: World 360° Services <w360s@outlook.com>, Mention <mention@noreply.github.com>
Subject: Re: [it-projects-llc/odoo-saas-tools] --db-filter='^%d' (nginx)

[2018-03-21 19:17] bassn commented on #751
Just use that "^%h$" only…

And the you can create different odoo databases, e.g.

  *   domain.com
  *   subdomain.domain.com
  *   domain-b.org
  *   subdomain.domain-b.org
  *   abdc.sudomain.domain-b.org

the system will use everything between “http(s)://” and the next “/” to access the right odoo database. So in this example http://xyz.domain.net/web#menu_id=83&action=94, the odoo database wi

[2018-03-22 10:52] leao-c commented on #751
@yelizariev, what's your opinion on this? Is there a way the controller can generate database without domain.tld at the end?

[2018-03-22 11:08] W360S commented on #751
@leao-c it must have DNS for this. mean you can config without a domain.ltd like runbot: http://runbot.it-projects.info/

[2018-03-22 21:00] keecome opened #752 "how can i set the SaaS Code Colum?"
@W360S
@Englishrain

https://github.com/it-projects-llc/odoo-saas-tools/blob/11.0/docs/usage/subscriptions.rst

3: Go to the Sales >> Configuration >> Products >> Attributes

and set Saas code as

SUBSCRIPTION_PERIOD for Period

and

MAX_USERS for Number of users.

There you can also specify Type of selection Radio/Select for the website.

I can't configure these two fields?

<bountysource-plugin>

[2018-03-23 02:30] GoodERPJeff commented on #408
The same

[2018-03-23 02:32] GoodERPJeff commented on #654
I got the same message, version is 10

[2018-03-24 16:32] W360S commented on #752
@keecome still on progress it not release ithink

[2018-03-26 11:30] zimbora69 commented on #408
@njeudy Hello, just tested your fork (branch 11.0-fixes-run01) and while installing saas_portal_templates I got no issue.

[2018-03-26 13:17] zimbora69 commented on #408
When I enter on domain.com/saas_portal_templates/select-template
Issues still exists, yes. Version 11.
Duplicated #654

[2018-04-01 23:16] yusniermatos commented on #456
Any update about this issue?
I'm facing this too...

Thanks.

[2018-04-04 10:04] bensisco opened #754 "Error when creating new Plan - RemoteDisconnected"
When I want to create my first Plan in a freshly set up installation with odoo 11 and odoo-saas-tools I get the following Error. Any help is appreciated.

Fehler:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionpool.py", line 601, in urlopen
    chunked=chunked)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connectionp

[2018-04-07 17:53] njeudy commented on #754
@bensisco did you try with this PR ? #746

I need to finish but I use it already ..

[2018-04-13 12:26] ikrape opened #755 "saas server erreur"
Traceback (most recent call last):
  File "/home/ikram/odoo/odoo-10/odoo/http.py", line 641, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/ikram/odoo/odoo-10/odoo/http.py", line 683, in dispatch
    result = self._call_function(**self.params)
  File "/home/ikram/odoo/odoo-10/odoo/http.py", line 333, in _call_function
    return checked_call(sel

[2018-04-14 17:14] njeudy commented on #755
hello @ikrape think your saas_portal server don't see saas_server instance (s1.odoo.local) can you check this ?

[2018-04-17 04:04] minhyk commented on #627
@njeudy
Hello njeudy. I am using Odoo10. I need a password reset cause the registration information is under main database but the template database that we provided for client is different so they should have PR link to reset the user password of template database by themselves instead of the default password.

[2018-04-20 13:32] njeudy commented on #627
@minhyk hellon In your template DB you can check the "enable password reset from login page" ? (in setting -> general settings) ?

![image](https://user-images.githubusercontent.com/995787/39053743-07559e3a-44b0-11e8-89fc-b74367744546.png)

[2018-04-24 11:10] darshan-serpent commented on #76
@yelizariev I guess I am facing this issue

I could not get the oauth_provider :

 `oauth_provider = rpc_xmlid_to_object(auth, 'server_saas.saas_oauth_provider', 'auth.oauth.provider')`

Is there any current solution to this?

[2018-04-25 15:31] ikrape commented on #755
think for your response @njeudy  but i don't understand you
https://drive.google.com/file/d/1emU3yveYobvo9uiyAqKOXaolJPYiI2_i/view?usp=sharing
https://drive.google.com/file/d/1U5_tf08DtZ74goYww_F5W-JfwnSR21lw/view?usp=sharing

[2018-04-26 10:42] darshan-serpent commented on #479
Hello @njeudy , I am facing the same issue, I checked this post https://it-projects-llc.github.io/odoo-saas-tools/blog/reason-not-found.

I am installing saas in localhost, it is showing me this while creating a new client : http://localhost:8069/saas_server/new_database

As -db-filter=^%h$ will not help in localhost. Then can you please advise what is the solution for this?

[2018-04-26 10:55] darshan-serpent commented on #750
@dawnblack2 I faced this same issue when I was configuring and creating saas instance, for me, it was showing because of the `--db-filter=^%h$` used in odoo config file!

Not sure what is the solution for this, later I just removed that parameter while creating saas system

[2018-04-26 10:55] darshan-serpent commented on #750
@dawnblack2 I faced this same issue when I was configuring and creating saas instance, for me, it was showing because of the `--db-filter=^%h$` used in odoo config file!

Not sure what is the solution for this, later I just removed that parameter while creating saas system

[2018-04-26 11:07] W360S commented on #479
you need to make sure your local domain work first.

[2018-04-26 12:17] darshan-serpent commented on #479
![localhost](https://user-images.githubusercontent.com/20109026/39303831-41aaac1e-4975-11e8-9682-79ded3e8735d.png)

@W360S I tried manually earlier it was saying 404, I found that the `saas_server` module was not installed on the `saas-portal-11.local` database, I installed it and then tried again, it is working now manually but not from the code still while creating the client!

cc @njeudy

[2018-04-26 14:04] cedvict commented on #636
@butagreeza Pls can you explain how to resolve this issue?

[2018-04-28 01:17] W360S commented on #636
You need to use pip3 not pip

Thanks & Best Regards
Chau Le’s
World 360° Services
Sent from iPhone

On Apr 27, 2018, at 23:56, Francis Bangura <notifications@github.com<mailto:notifications@github.com>> wrote:

@cedvict<https://github.com/cedvict> I installed the latest version of simplejson and the error was fixed. I was using odoo 10

—
You are receiving this because you are subscribed to this t

[2018-05-14 10:46] njeudy commented on #755
@ikrape ok your principal server (where you install saas_portal) can not resolv s1.odoo.local.

to check you have to log in your principal server (with ssh) and try to ping s1.odoo.local .. think it will failed .. If it ping try to curl / wget http://s1.odoo.local:80/saas_server/new_database url and see result ..

That is a network problem I think not a code problem ..

[2018-05-15 08:50] ikrape commented on #755
thank you @njeudy i have resolved y prblm i had an erreur with the port of the ngnix

[2018-05-15 16:07] #658 closed

[2018-05-15 16:07] #677 closed

[2018-05-15 16:07] #711 closed

[2018-05-15 16:07] #748 closed

[2018-05-15 18:41] njeudy commented on #755
no problem, be free to open new issue if you need :)

[2018-05-15 18:41] #755 closed

[2018-05-15 18:44] njeudy commented on #752
@keecome will start to implement this in V11 for now it's not implemented .

[2018-05-15 18:49] njeudy commented on #679
@hoangtuan151 can you test with latest commit in V11 ? and says if it is ok ?

[2018-05-15 18:51] njeudy commented on #668
@Udramani think your server do not see your s1.o9.local server.

can you connect with ssh to your principal server (where saas_portal is installed) and then ping s1.o9.local server ? if it works, can you curl / wget s1.o9.local server/saas_server ?

[2018-05-16 16:33] ovnicraft opened #761 "Use own domain for ecommerce"
Hi, i have deployed this tools for 10.0 so i want to know how implement if one customer needs use their own domain?

[2018-05-20 16:35] njeudy commented on #761
Think you can setup proxy to point www.mydomain.com to saas_server instance, and rename customer database to www.mydomain.com ...

[2018-05-20 16:37] W360S commented on #761
yep that for what i do, but not www :) because if you put www it understands is subdomain

[2018-05-24 18:48] mardzia opened #766 "How to execute or run odoo 11 saas addons"
Hi,
Can anyone help me on how to execute or run odoo 11 saas addons. Here's how my addons_path looks like in odoo.conf :
[options]
; This is the password that allows database operations:
; admin_passwd = admin
db_host = False
db_port = False
db_user = odoo
dbfilter =^%h$
db_password = False
;addons_path = /usr/lib/python3/dist-packages/odoo/addons,/home/odoo/odoo-saas-tools,/home/odoo/access-addon

[2018-05-29 22:22] abdallamhafeez opened #767 "How to use OAuth2 provider"
Hello
I install module OAuth2 provider but I cannot find a way to authenticate a user from another server. please, can describe what is steps to run it?

[2018-06-19 07:57] #750 closed

[2018-06-21 02:20] jeffery9 opened #774 "uninstall saas_server_demo report demo_* column does not exists."
when uninstall saas_server_demo module from main database, because this no need to install to main database.  odoo report  psycopg2.ProgrammingError

[code]

[2018-07-09 01:00] BusinessTec opened #779 "(11.0) Empty dbname_template is causing error even if custom db name is defined for trial"
During the testing I noticed that while after selecting Try trial  and entering new customer details including 'Desired web address ..' , system generates an error 'Template for db name is not configured'. Free Subdomains is set to True for the template.

If dbname_template is defined  the custom DB name is ignored and the automatic name is used for DB name.
Any advice on permitting this behavior?

[2018-07-09 14:51] drinktea0808 opened #780 "invalid lateral for int() with base 10"
i get this error while saving. all i did was to enter the AWS Access ID, Key and bucket location onto **SaaS Portal** >> **AWS S3 Access**

`Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/odoo/http.py", line 310, in _handle_exception
    raise pycom

[2018-07-10 22:11] EugenPechurin opened #781 "SSL: WRONG_VERSION_NUMBER"
Using the wild ssl certificate on my system I get the error Message: b '<urlopen error [SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c: 720)>' when I click on the sync server button. Is there a solution to this problem?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/60723610-ssl-wrong_version_number?utm_campaign=plugin&utm

[2018-07-11 07:48] #781 closed

[2018-07-13 16:57] gridworkz opened #782 "Error, a partner cannot follow twice the same object"
I'm trying to create a client and I keep getting: _Error, a partner cannot follow twice the same object_. I've tried many combinations of User/Partner but I keep getting that message. Has anyone experienced this before? If so, what's the proper procedure. Cheers, Dave

[2018-07-29 21:30] msetiha opened #788 "SSLError: ("bad handshake: Error([('SSL routines', 'ssl3_get_server_certificate', 'certificate verify failed')],)",)"
Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 642, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/odoo/http.py", line 684, in dispatch
    result = self._call_function(**self.params)
  File "/odoo/odoo-server/odoo/http.py", line 334, in _call_function
    return checked_call(self.db, *args, **kwargs

[2018-07-30 06:40] msetiha opened #789 "Message: Expected singleton: saas_server.client()"
Odoo v 10.0

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 642, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/odoo/http.py", line 684, in dispatch
    result = self._call_function(**self.params)
  File "/odoo/odoo-server/odoo/http.py", line 334, in _call_function
    return checked_call(self.db, *a

[2018-08-07 09:41] YogendrasinhChavda opened #791 "V11: Database Backup using cron job Issue."
Hello,
Good Afternoon!

When I am trying to take the databack backup of the instances from the server database it gives traceback and database backup is interrupted.
First of all, I installed module "**saas_server_backup_ftp**" in the **server database** and configured database backup related configuration from the menu: Settings => General Settings in my local system.
When I am trying to run Cron

[2018-08-13 05:46] YogendrasinhChavda commented on #789
Hello @msetiha ,
Good Morning!
The issue is fixed. Please take the latest pull of 11.0 and check it.
Thanks

[2018-08-13 13:07] odoogit commented on #789
@YogendrasinhChavda not fixed in odoo 10 c?

[2018-08-13 13:13] maherkhalil07 commented on #789
Hi friends
I need someone to install odoo with saas tools in my private server
if interested send me e mail (maherkhalil@outlook.com)
Regards;

[2018-08-19 18:37] odoogit opened #801 "Expected singleton: saas_server.client()"
![odoosaas](https://user-images.githubusercontent.com/22232100/44311890-8e5db680-a408-11e8-95a4-53a974989b3f.png)

When i click on Sync Server Button it's show me error any solution pls
in Odoo V10 CE

[2018-08-19 18:44] odoogit commented on #734
@Udramani pls help me how you solve this issue m also facing this same issue...
pls let me clear whats step you do one by one ....
i will be thank full to you....

[2018-08-20 01:25] W360S commented on #734
Go to plan, increase mumber db available for client. It will solved

[2018-08-22 12:01] yelizariev commented on #791
Hi, I've just fixed it here https://github.com/it-projects-llc/odoo-saas-tools/commit/aa8a5f9406382b2a702e97812a66bc812758e1f5

[2018-08-22 12:01] #791 closed

[2018-08-23 21:14] BusinessTec opened #802 "[11.0] Initial login of the template user goes to Application"
After creating the new database user is redirected to the newly create DB. In case the user is not allowed to access/add applications this is resulting in the error message.
After accepting the message all seems to be working fine.

Is there a way to redirect user to another menu (I changed the user settings, but that seems no to be applicable to the initial session)?

[2018-10-01 12:17] yelizariev opened #805 "Odoo 12 and future of the project [$1,100]"
Dear users and contributors, thank you for interest and help!

I'm glad to announce that the project is going to be split and remade almost from scratch in odoo 12.
New main repository: https://github.com/it-projects-llc/saas-addons

Key changes:
* **No more *SaaS Server* via odoo**. We shall not reinvent the wheel. We can use kubernetes\rancher for that part.
* Multi-server deployment stuff will

[2018-10-01 14:53] blaggacao commented on #805
For the affected or interested ones, there will be a viable alternative, once out of alpha: [The Odoo-Operator](https://xoe-labs.github.io/odoo-operator/)

[2018-10-02 06:46] yelizariev commented on #805
@blaggacao I think the odoo-operator will be used. The idea of the project is to create odoo modules to manage databases via master odoo instance (send invoices, suspend when it's not paid, collect statistic, etc.)

[2018-10-23 14:02] g3492 opened #806 "error creating mailgun MX records for domain verification through route53"
MX records on route53 are not added because there are other CNAME records with the same name (that is what the route53 error says).
That is the case, because the system previously inserted a CNAME record for the client database, pointing to the database server, and mailgun requires for optimal deliverability, an MX record with the same name (the client database). This results in incomplete DNS con

[2018-11-05 07:44] krupesh10 opened #809 "Got Error on request /saas_server/new_database ? and Why DBfilter is not working?"
I configured everything related to saas : https://odoo-saas-tools.readthedocs.io/en/10.0/setup/install.html
I installed Odoo version CE version: Odoo 11.0-20181030 (Community Edition)

**My configuration for main database like this:**
My server settings:
![selection_012](https://user-images.githubusercontent.com/21057089/47984314-3fb4e400-e0fc-11e8-81b1-541054611290.png)

**My Plan settins:**
![se

[2018-11-05 08:06] W360S commented on #809
the problems come from here: Odoo config file:
;dbfilter = ^%d$
it should be:
dbfilter = ^%d$
if finally you can't fixed then ping me here: saastools.xyz

[2018-11-05 09:02] krupesh10 commented on #809
Thanks for your answer but when I enable dbfilter odoo ignoring all the databases which are created and when I try to create any new DB then it will reject the session like this and got below message in log

**odoo.http: Logged into database 'odoo.local', but dbfilter rejects it; logging session out.**

What to do in this case?

[2018-12-14 10:53] FFernandez-PlanetaTIC opened #820 "[12.0] [MIG] saas_server & saas_client"
Hi,

Although the project will be remade from scratch in v12.0 #805 , I think portals <= v11.0 should be able to work together with server and clients >=12.0.

We have migrated to v12.0 an tested:

- auth_oauth_check_client_id
- auth_oauth_ip
- saas_base
- saas_client
- saas_server
- saas_server_backup_ftp

The work is available in the repository of @PlanetaTIC :

https://github.com/PlanetaTIC/odo

[2018-12-14 11:10] ilmir-k commented on #820
@FFernandez-PlanetaTIC
Thanks for your work.

@yelizariev could you create branch 12.0 ?

[2018-12-14 11:15] yelizariev commented on #820
Done

[2018-12-18 17:19] #820 closed

[2018-12-26 10:12] elliotxin opened #824 "after create server database, unable to open the server site."
I used docker install the odoo11 saas,
after that i fellow this instruction  "https://odoo-saas-tools.readthedocs.io/en/11.0/setup/install.html" manual setting.
I was created the main database name same with my domain(example.com)
after that i enter the example.com to the browser and enable open the odoo backend login page, and install the saas_portal.
After this step, i created s1.example.com dat

[2019-01-11 06:38] gokhanerdogdu commented on #806
Hi,
This problem seems to really exist. Is it possible to merge the commit?

What do you think @yelizariev ?

[2019-01-16 19:36] mr-module opened #825 "Saas Clients on multiple Machines?"
Can we manage to have saas clients on multiple server instances. Like some one on digital oceans, some on linode server providers.

Can we do that with saas tools?

[2019-01-17 01:07] W360S commented on #825
Saas is single sever manage multi instance, mean i client has 1 db, but all client in same server. You also can deploy multi server for multi clients also

Thanks & Best Regards
Chau Le’s
World 360° Services
Sent from iPhone

On Jan 17, 2019, at 02:36, Opensys K. <notifications@github.com<mailto:notifications@github.com>> wrote:

Can we manage to have saas clients on multiple server instances. Lik

[2019-01-17 02:13] mr-module commented on #825
Well is it compulsory to have all clients db on same machine??

On Thu, Jan 17, 2019, 6:37 AM World 360° Services <notifications@github.com
wrote:

[2019-01-17 03:53] W360S commented on #825
Yep

From: "Opensys K." <notifications@github.com>
Reply-To: it-projects-llc/odoo-saas-tools <reply@reply.github.com>
Date: Thursday, January 17, 2019 at 9:13 AM
To: it-projects-llc/odoo-saas-tools <odoo-saas-tools@noreply.github.com>
Cc: World 360° Services <w360s@outlook.com>, Comment <comment@noreply.github.com>
Subject: Re: [it-projects-llc/odoo-saas-tools] Saas Clients on multiple Machines? (

[2019-01-17 04:11] mr-module commented on #825
Can u guide me for this or help me with some documentation for this

On Thu, Jan 17, 2019, 9:23 AM World 360° Services <notifications@github.com
wrote:

[2019-01-17 05:02] W360S commented on #825
From Odoo SaaS Tools is all docs you have
Or other choice i have setup service here: https://www.fiverr.com/w360scorp

From: "Opensys K." <notifications@github.com>
Reply-To: it-projects-llc/odoo-saas-tools <reply@reply.github.com>
Date: Thursday, January 17, 2019 at 11:11 AM
To: it-projects-llc/odoo-saas-tools <odoo-saas-tools@noreply.github.com>
Cc: World 360° Services <w360s@outlook.com>, Comme

[2019-01-21 21:01] gokhanerdogdu commented on #802
Hi @BusinessTec
Did you find a solution for this?

[2019-01-23 03:45] BusinessTec commented on #802
Not really, looks like it is an Odoo 'feature' so I just created a landing promo page for the same model (read-only) to show the new users  other applications  as the premium products

[2019-01-24 14:17] prakashjain opened #826 "Odoo 12 unable to install saas_portal and saas_portal_ module"
Latest Odoo 12 download from git
Followed below steps to install sass_portal
https://odoo-saas-tools.readthedocs.io/en/10.0/setup/install.html
unable to install saas_portal module status is Uninstallable
https://screenshots.firefox.com/WmoQAISIZgC61tmm/localhost
Please let me provide the steps to install saas in odoo12.

[2019-01-24 17:43] FFernandez-PlanetaTIC commented on #826
See #805 and #822 or try v11

[2019-02-20 07:06] oodlesShivam commented on #479
[code]
This exception is coming at time of creating template DB please help me to slove this.

[2019-02-20 07:07] oodlesShivam commented on #479
`Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/urllib3/connection.py", line 159, in _new_conn
    (self._dns_host, self.port), self.timeout, **extra_kw)
  File "/usr/local/lib/python3.5/dist-packages/urllib3/util/connection.py", line 57, in create_connection
    for res in socket.getaddrinfo(host, port, family, socket.SOCK_STREAM):
  Fi

[2019-02-25 10:07] etuwaiq opened #828 "Create template DB"

[2019-02-25 10:07] #828 closed

[2019-02-26 13:01] oodlesShivam opened #829 "Odoo 11 unable create template DB in SaaS Plans"
**Hello Readers,**
I am using Odoo 11 in ubuntu 16.04 trying to install Odoo SaaS tool kit 11 for Odoo v11 CE in my local machine and I am facing an issue when I create template DB in **SaaS=> SaaS=> Plans**  It is showing the Following Exception:

`Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/shivam/Documents/Odoo/odoo-11.0/odoo/http.py", line 651, in _handle_excepti

[2019-04-03 10:49] therealmjk opened #830 "Cannot install saas_portal module odoo 12"
Help

I am trying to install the saas_portal module but i keep having this error

Error:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Odoo 12.0\server\odoo\tools\cache.py", line 88, in lookup
    r = d[key]
  File "C:\Odoo 12.0\server\odoo\tools\func.py", line 69, in wrapper
    return func(self, *args, **kwargs)
  File "C:\Odoo 12.0\server\odoo\tools\lru.py", line 44, in __get

[2019-04-03 12:39] ilmir-k commented on #830
@therealmjk
The odoo saas tools has not been migrated to v12 yet.
You can try the version from PR #822

[2019-04-04 10:39] susankc opened #831 "Cannot get email of invoice after order is confirmed"
After all setup when i add a product in cart and registered all the process till wire transfer, i don't get email of Send SaaS creation page to partner Email template. And when i add manually want to send email invoice then following line is only executed
Now you can choose domain name for your service and create database  open following link

else link is not shown did i do something wrong ?

[2019-04-05 05:28] susankc commented on #831
i have run sass in version 11 anybody to help ?

[2019-04-05 11:33] #752 closed

[2019-04-05 11:39] ilmir-k commented on #831
@susankc
Pull the latest updates and try to use ``saas_portal_subscription`` and ``saas_portal_subscription_sale`` modules

[2019-04-05 17:52] therealmjk commented on #830
@ilmir-k Thanks much

[2019-04-06 06:34] therealmjk opened #832 "Error when creating a Client from a Plan"
When i try to create a client from a plan i have the following error. Please help
P.S i am using simplejson-3.16 and odoo-12

Error:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Odoo 12.0\server\odoo\http.py", line 654, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "C:\Odoo 12.0\server\odoo\http.py", line 312, in _handle_exception

[2019-04-08 09:21] ilmir-k commented on #832
@therealmjk the errors appear because odoo saas has not been migrated to v12 yet

[2019-04-09 10:09] susankc commented on #831
Hello @ilmir-k  i am in latest branch in version 11 but got same error is there any thing i need to setup to get link?

[2019-04-11 05:33] susankc commented on #831
I have test the all the process and at product i have link it to SaaS plan but automatic email after invoice is not send to partner i cant get anything what i do wrong ? @ilmir-k

[2019-04-11 07:19] FFernandez-PlanetaTIC commented on #831
@susankc , have you installed `saas_portal_subscription_sale`?

[2019-04-13 00:12] CristianHR commented on #670
@hoangtuan151 You managed to solve the error, or someone who has succeeded please!

[2019-04-15 08:57] ilmir-k commented on #670
@CristianHR Try to execute the script as root

[2019-04-22 05:13] susankc commented on #831
Yes i have install this module and link my product to saas plan but when i confirm invoice automatic email is not send to user in order to create their database. @FFernandez-PlanetaTIC  @ilmir-k

[2019-04-23 07:28] FFernandez-PlanetaTIC commented on #831
@susankc Email is sent on **pay** invoice

[2019-05-05 10:35] CristianHR commented on #458
I also have the same problem, did someone manage to solve it?

[2019-05-10 07:49] yelizariev commented on #805
![image](https://user-images.githubusercontent.com/186131/57510971-8391db80-7321-11e9-850f-e364c6dc333c.png)
Base module is released!
See
https://github.com/it-projects-llc/saas-addons/tree/12.0/saas
https://github.com/it-projects-llc/saas-addons/blob/12.0/saas/doc/index.rst

We continue work on "Live Preview" tool

[2019-05-10 07:51] yelizariev commented on #805
For custom development contact us by email: saas@it-projects.info

[2019-05-19 03:14] CristianHR commented on #670
@ilmir-k if I run as root, but I still get the error

[2019-05-20 17:41] therealmjk opened #833 "Cannot login to template/ Cannot login by saas portal odoo v12"
Hi guys

I am trying to login my template from plans on the saas portal but i keep have access error

![image](https://user-images.githubusercontent.com/22877146/58040855-be391680-7b60-11e9-972a-a9eea8c23ec5.png)

Also from the log file i see that log in successful but Access Denied by ACLs for operation: read

`2019-05-20 17:16:21,671 9292 INFO portal.logistechglobal.com werkzeug: 127.0.0.1 - - [

[2019-05-20 17:41] #832 closed

[2019-05-20 17:42] #830 closed

[2019-05-21 07:54] ilmir-k commented on #833
@therealmjk
Try to Login via SaaS Portal and see the access rights of the user you are trying to log in.

[2019-05-21 11:50] therealmjk commented on #833
Yeah but i can't Login via SaaS Portal either @ilmir-k

[2019-05-21 12:57] UdooDev opened #834 "How will client create new users with the security apps installed"
Hi guys,

I installed some access right apps suggested in the documentation.

But I have a question on how new client will create new users for their database and also even edit the company profile form.

Thanks.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/74448365-how-will-client-create-new-users-with-the-security-apps-installe

[2019-05-21 14:58] ilmir-k commented on #833
@therealmjk
I've just noticed that you try to use version 12, but SaaS has not been migrated to this version yet that's why you may have issues.
Instead of that we focused on another version of SaaS - see https://github.com/it-projects-llc/saas-addons/tree/12.0

You can also see the info about new approach at https://github.com/it-projects-llc/odoo-saas-tools/issues/805

[2019-05-21 16:32] therealmjk commented on #833
Thanks @ilmir-k So if i get this clear we cannot implement saas on V12 at the moment till the new project is launched right?

[2019-05-21 17:25] ilmir-k commented on #833
@therealmjk
Right, but you can try to use #822 for a while

[2019-05-21 17:27] therealmjk commented on #833
@ilmir-k i tried to use it by installing the saas. but was having errors so i just left it

[2019-05-21 17:29] therealmjk commented on #833
@ilmir-k Yeah i am using this version. Is okay i have a work around => i can update the password of the template administrator directly from the pg-database and login then change the password to something better

[2019-05-21 18:00] #833 closed

[2019-05-22 11:19] ilmir-k commented on #834
@UdooDev
you could give ``administrator`` rights to your clients and install ``access_restricted`` module for example.

[2019-05-22 13:45] #834 closed

[2019-05-27 13:12] manishkumarbohra commented on #789
Hello Friends,
I'm facing My portal database on Odoo 11 and my server database on Odoo 10. When I create a server in the main database(portal database) and sync server than it returns an error to me below :
**Warning: Reason: INTERNAL SERVER ERROR
Message: Expected singleton: saas_server.client()**
but when I'm sync from the plan it's not through any error. so how can i fix server in the main data

[2019-05-28 05:39] bunhin opened #835 "V11 - Saas Portal Install Error - invalid sysntax"
Dear All,

I tried to install saas_portal (v11), and get error message after i click install,  before i already check that the dependency modules are installed, including external dependency oauthlib and requests.

here is the messages i copied from odoo install error popup:

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo11/odoo/http.py", line 651, in _handle_except

[2019-06-02 16:24] gridworkz commented on #832
I've got a core set of working v12 modules here if that helps: https://github.com/gridworkz/odoo-saas-tools/tree/12.0

[2019-06-03 10:14] yelizariev commented on #805
A survey about most-wanted saas features: https://docs.google.com/forms/d/e/1FAIpQLSdcnVT5etxtp3ZmaZudrtiBM8LwdHa7tmY1KGrodhBT-Obadw/viewform?usp=sf_link

[2019-06-04 12:01] therealmjk commented on #832
@gridworkz i tried yours but i have error when trying to install saas_portal

`Error:
System Server Error

Traceback (most recent call last):
  File "C:\Users\Muhd Jibril Kazim\Documents\_LTG\odoo_www\odoo\odoo\tools\cache.py", line 88, in lookup
    r = d[key]
  File "C:\Users\Muhd Jibril Kazim\Documents\_LTG\odoo_www\odoo\odoo\tools\func.py", line 69, in wrapper
    return func(self, *args, **kw

[2019-06-04 18:10] gridworkz commented on #832
Hi: Sure, I'll take a look. Making a fresh install now...

On Tue, Jun 4, 2019 at 8:02 AM Kazim Jibril Muhd <notifications@github.com>
wrote:

[2019-06-05 12:29] therealmjk commented on #832
@gridworkz okay

[2019-06-05 18:25] gridworkz commented on #832
Hi Kazim: Everything installed fine at my end. Could you give me the output
of:

git branch -a

Then try a "git pull" and make sure sure.pulling the HEAD. I had some
issues pulling the repo. I just want to make sure you've really got 12.0
version.

On Wed, Jun 5, 2019 at 8:29 AM Kazim Jibril Muhd <notifications@github.com>
wrote:

[2019-06-06 12:20] therealmjk commented on #832
@gridworkz

![image](https://user-images.githubusercontent.com/22877146/59032263-132e9980-8890-11e9-8ffb-6040f4d94b47.png)

[2019-06-06 12:49] therealmjk commented on #832
@gridworkz i already closed this issue before u commented because i fix the problems actually just wanted to try urs and see. I have it working at the moment but i still have one problem i dont know if you can help?? Pls check this out https://github.com/it-projects-llc/odoo-saas-tools/issues/833

[2019-06-06 15:41] gridworkz commented on #832
Hi Kazim: Looks like you've got everything correct. Which repo are you
using mine? You need to set the passwords for admin etc. when you create
the template. Also make sure they have access rights and also make sure
Technical / Settings is available on the user profiles. On Odoo v12 I need
to install the eCommerce module for some reason to get the Technical /
Settings on user profiles.

On Thu, Ju

[2019-06-07 02:45] therealmjk commented on #832
@gridworkz The problem is i can't even login my template from the plan

[2019-06-07 02:52] gridworkz commented on #832
Ah, I see. What does the Odoo log say? (if anything). What error are you
getting when trying to login

On Thu, Jun 6, 2019 at 10:45 PM Kazim Jibril Muhd <notifications@github.com>
wrote:

[2019-06-07 03:00] therealmjk commented on #832
@gridworkz i am getting this error https://github.com/it-projects-llc/odoo-saas-tools/issues/833

[2019-06-08 15:13] gridworkz commented on #832
Hi Kazim: Is the portal module installed?

On Thu, Jun 6, 2019 at 11:00 PM Kazim Jibril Muhd <notifications@github.com>
wrote:

[2019-06-10 14:18] therealmjk commented on #832
@gridworkz sorry for the late reply. Yes the portal module is installed

[2019-06-10 15:38] gridworkz commented on #832
Hi Kazim: Did you try accessing the templatedb as superadmin? also are you
using my oauth_provider module?

On Mon, Jun 10, 2019 at 10:18 AM Kazim Jibril Muhd <notifications@github.com>
wrote:

[2019-06-10 20:45] therealmjk commented on #832
@gridworkz right now i have only one user in my db which is the user created when creating the db so i guess thats the super admin. Yes i tried with your oauth_provider too

[2019-06-10 21:31] gridworkz commented on #832
hmm you should have two user accounts created in the new templatedb 1)
admin 2) owner_template - I have a working setup online if you want to take
a look at it. You can email me dave@gridworkz.com and I'll send you the
access details....

On Mon, Jun 10, 2019 at 4:45 PM Kazim Jibril Muhd <notifications@github.com>
wrote:

[2019-06-11 02:30] therealmjk commented on #832
@gridworkz no actually i can't also log in my template too. When i create a template from a new plan and log in template, i have same error. Can't also log in. I think it has to do with permissions but im not sure how to fix this

[2019-06-11 03:17] gridworkz commented on #832
shoot me an email and I'll show you my setup.

On Mon, Jun 10, 2019 at 10:30 PM Kazim Jibril Muhd <notifications@github.com>
wrote:

[2019-06-11 09:17] therealmjk commented on #832
@gridworkz Done.

[2019-06-14 07:16] therealmjk opened #836 "expiration_time"

[2019-07-01 17:12] haninada opened #838 "Error while installing"
Hello,

While installing through docker I got the following error

 docker run \

Unable to find image 'postgres:9.5' locally
9.5: Pulling from library/postgres
fc7181108d40: Pull complete
81cfa12d39e9: Pull complete
793d305ca761: Pull complete
41e3ced3a2aa: Pull complete
a300bc9d5405: Pull complete
3c6a5c3830ed: Pull complete
fb8c79b24338: Pull complete
fcda1144379f: Pull complete
d0f772c5c8a7: P

[2019-07-02 08:10] ilmir-k commented on #838
@haninada you need to create docker network first:
``docker network create odoo-saas``

[2019-07-02 08:34] haninada commented on #838
thank you for reply

another issue if you can help, do you have a sample of odoo-derver.conf and Nginx conf files to guide me in installation

Best regards

[2019-07-02 08:58] ilmir-k commented on #838
Please check the following links for the instructions and examples:
https://it-projects-llc.github.io/odoo-saas-tools/
https://it-projects-llc.github.io/odoo-saas-tools/getting-started/

The example of odoo-nginx.conf:
[code]

[2019-07-02 09:01] haninada commented on #838
Many thanks for your kindness

[2019-07-03 05:37] haninada commented on #838
Hello everyone,

First please excuse me as I came from SAP so I have a lack in some areas

what I did as the following
1- installed NGNIX, setup domain with SSL, after testing the domain working fine and secure
2- installed odoo SaaS using docker, I followed the explanation in the following link, https://it-projects-llc.github.io/odoo-saas-tools/getting-started/
3- after finish installation while

[2019-07-11 14:53] Basielienis opened #839 "incompatible with python3.7, async variable used"

[2019-07-11 15:01] Basielienis commented on #839
async used?
File "/var/lib/odoo/.local/share/Odoo/addons/11.0/odoo-saas-tools/saas_portal/models/saas_portal.py", line 291
    trial=False, support_team_id=None, async=None):

[2019-07-23 16:34] tiennguyen2009 commented on #458
I also have this problem. I don't know about

`--server-hosts-template={dbname}.{base_saas_domain_1} \
--plan-template-db-name=template-1 \
--plan-clients=demo-%i \`

I know how to fix it.

[2019-08-20 23:40] yasr3mr96 opened #841 "When Click Create template DB"
Traceback (most recent call last):
  File "/home/yasser/.local/lib/python3.5/site-packages/urllib3/connection.py", line 160, in _new_conn
    (self._dns_host, self.port), self.timeout, **extra_kw)
  File "/home/yasser/.local/lib/python3.5/site-packages/urllib3/util/connection.py", line 80, in create_connection
    raise err
  File "/home/yasser/.local/lib/python3.5/site-packages/urllib3/util/conne

[2019-08-27 12:08] elbehwash opened #842 "can't insall Saas_portal on odoo v12"
i couldn't install saas_portal on odoo v12

![saas_portal](https://user-images.githubusercontent.com/30747146/63769818-0be9bb80-c8d4-11e9-9ef7-ea668063cc67.JPG)

[2019-10-04 09:47] anandmk10 commented on #456
Does anyone have a solution on this? same problem in version 12.0

[2019-10-04 14:47] cedvict opened #843 "saas portal start /* Cannot update missing record 'website.start' */"
Hi everyone,
Can you please have a solution to this issue. I'm using odoo 12.0 and I'm trying to deploy it in saas mode. thanks in advance.

Odoo Server Error

Traceback (most recent call last):
  File "/home/cdvict/odoo-12.0/odoo/tools/convert.py", line 757, in parse
    self._tags[rec.tag](rec, de, mode=mode)
  File "/home/cdvict/odoo-12.0/odoo/tools/convert.py", line 735, in _tag_template
    r

[2019-10-10 12:14] SamuelPerron commented on #805
How can I help for this issue ?

[2019-10-10 13:25] ShivaGuntuku opened #844 "odoo V11 - SAAS saas_portal installation error invalid syntax"
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/werkzeug/serving.py", line 270, in run_wsgi
    execute(self.server.app)
  File "/usr/local/lib/python3.7/dist-packages/werkzeug/serving.py", line 258, in execute
    application_iter = app(environ, start_response)
  File "/odoo11/odoo11-server/odoo/service/server.py", line 319, in app
    return self.app(e, s)
  Fil

[2019-10-11 15:59] yelizariev commented on #805
It's almost done. We make release next week

[2019-10-15 08:27] yelizariev commented on #805
Done! Check "Make new odoo instance" button here: https://odoo-saas.sh

[2019-10-15 08:29] #805 closed

[2019-12-27 15:27] BettoISC opened #845 "Can't call client methods because of the request"
when we use the config wizard to execute a method it throws an error, checking the code, we think maybe using the client_env this problem could be solved.

`getattr(client_env[model], method)()
`

odoo.addons.saas_server.controllers.main: global name 'request' is not defined
Traceback (most recent call last):
  File "/opt/odoo/addons/10.0/odoo-saas-tools/saas_server/controllers/main.py", line 23,

[2020-03-28 14:53] planetodooofficial commented on #634
My saas module was working perfectly fine on before one week but I don't kniw if someone has made any changes in nginx. I am facing this issue when I try to sync server
_```
raise Warning('Reason: %s \n Message: %s' % (res.reason, res.content))
Warning: Reason: NOT FOUND
 Message: b'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\n<title>404 Not Found</title>\n<h1>Not Found</h1>
[code]

[2020-03-28 14:57] mayur200 commented on #634
My saas module was working perfectly fine on before one week but I don't know if someone has made any changes in nginx. I am facing this issue when I try to sync server
_```
raise Warning('Reason: %s \n Message: %s' % (res.reason, res.content))
Warning: Reason: NOT FOUND
 Message: b'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\n<title>404 Not Found</title>\n<h1>Not Found</h1>
[code]

[2020-04-16 09:05] usmanfarzandali commented on #805
how to donate for this project other then paypal ?
any other way pls

[2020-04-20 07:20] ilmir-k commented on #805
@usmanfarzandali please send us email to saas@it-projects.info with an amount you are ready to donate and we will send you the corresponding invoice with the payment details.
Thanks in advance for supporting the project.

[2020-05-07 00:24] JomanWalter opened #847 "Helpdeskreviews"
There are many products and solutions available on the market, so it really depends on your expectations, budget, your company’s size, business goals, etc.
But if you ask for the best help desk solution, I’d recommend Help Desk [https://helpdeskreviews.com/](https://helpdeskreviews.com/)
Help Desk an all-in-one help desk software that gives your consultants all the tools needed to provide outstand

[2020-07-16 05:17] herawais commented on #805
Site not found

[2020-07-16 05:47] ilmir-k commented on #805
New website is https://saas.it-projects.info/

[2020-07-23 18:58] bitsnaps commented on #839
@Basielienis In Python 3.7 the `async` is keyword, just search/replace it with anything else, I used `asynk` and it seems to be working fine so far.

[2020-07-29 20:49] bitsnaps commented on #653
Does this script still work for v11?

[2020-07-29 21:37] bitsnaps commented on #275
I had to change fews things to get `saas.py` working for me (ubuntu 16 & python 3.5 & odoo v11):
- Reinstalled gevent (`pip install gevent`)
- Replace `read()` by `readfp` in the script ([issue#16601757](https://stackoverflow.com/questions/16601757/python-configparser-nosectionerror-no-section-testinformation))
- Describe the full path everywhere (`odoo.conf` and command line)
- Also replace `open

[2020-08-03 11:42] bitsnaps commented on #675
Same issue with v11.

[2020-08-03 18:14] bitsnaps commented on #479
I had the same issue, I fixed that by filling `DB Names` field (e.g. `tt%i.odoo.local`)

[2021-02-21 09:13] Danizan1976 commented on #788
Hi,
It seems that the saas setup doesn't suppport SSL via port 443. It works fine if nginx is only configured for port 80, but with addition of listen port 443 (using comodo postiveSSL), i can't sync from portal to server.

Error Log :
Warning: Reason: INTERNAL SERVER ERROR
 Message: b"HTTPSConnectionPool(host='portal.xxx.com', port=443): Max retries exceeded with url: /oauth2/tokeninfo?access_tok

[2021-04-29 14:14] Jacobo-Arias commented on #552
me too

[2021-05-16 10:06] Danizan1976 opened #850 "Send SaaS creation page to partner after Payment"
Hi,
I'm using v11 CE.
I'm experiencing problem when no email (email_template_create_saas) is sent to user after payment is done in web shop.
After looking at branch 11 odoo-saas-tools/saas_portal_sale/models, i noticed this file is missing when comparing to earlier version :
account_invoice.py

I believe this file has class to send the email after payment.

I haven't tested creating this file manu

[2021-07-09 00:19] estebanreyna commented on #675
hi, did you find the solution to this bug?

[2021-07-09 08:37] bitsnaps commented on #675
I'm not sure if this [commit](https://github.com/bitsnaps/odoo-saas-tools/commit/d5fcbd278018844eb2b2b3ac98d53b38990b84d1) fixed it.

[2022-03-16 06:05] vish-star commented on #788
any one solve